<ion-header color="light">
  <ion-navbar color="light">
    <ion-title>排行榜</ion-title>
  </ion-navbar>

  <ion-navbar color="light" style="padding:0;" id="childNavbar">
    <div class="my-set-navbar">
      <div class="plan-nav-1">
        <div class="nav-li-par">
          <div class="nav-li-pll" [ngClass]="'active_'+ active_index">
            <ul class="header-nav-bar-lab">
              <li (tap)="activeTo(1,'popularity')">人气周榜</li>
              <li (tap)="activeTo(2,'sale')">销售周榜</li>
              <li (tap)="activeTo(3,'collection')">收藏周榜</li>
            </ul>
            <label class="dmdd">
              <s></s>
            </label>
          </div>
        </div>
      </div>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="swiper-container" id="mySwiper_order_1" style="opacity:0">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="pd-col-content-all" id="scroll_1">
          <div class="book-line" *ngFor="let book of nv_order_data"  (tap)="toBookInfo(book.book_id,book.book_type)">
            <div class="m-cover">
              <img src="{{ service.ctxPath + book.book_cover_small}}" *ngIf="book.book_type == 2">
              <img src="{{ book.book_cover_small}}" *ngIf="book.book_type == 1">
            </div>
            <div class="m-detail">
              <h1>{{book.book_name}}</h1>
              <div class="m-remark">{{book.book_remark}}</div>
              <div class="m-other">
                <label class="m-left">{{book.book_author}}</label>
                <label class="m-right">{{book.book_cat_name}}</label>
              </div>
            </div>
          </div>
          <div class="message-load-bottom" [hidden]="load_more_nv">
            <ion-spinner name="dots"></ion-spinner>
            <div>请稍候，努力加载中</div>
          </div>
          <div class="message-bottom" [hidden]="!load_more_nv || nv_param.pages > nv_param.pageNum">已经到底了，到别的频道逛逛吧!</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="pd-col-content-all" id="scroll_2">
          <div class="book-line" *ngFor="let book of nan_order_data"  (tap)="toBookInfo(book.book_id,book.book_type)">
            <div class="m-cover">
              <img src="{{ service.ctxPath + book.book_cover_small}}" *ngIf="book.book_type == 2">
              <img src="{{ book.book_cover_small}}" *ngIf="book.book_type == 1">
            </div>
            <div class="m-detail">
              <h1>{{book.book_name}}</h1>
              <div class="m-remark">{{book.book_remark}}</div>
              <div class="m-other">
                <label class="m-left">{{book.book_author}}</label>
                <label class="m-right">{{book.book_cat_name}}</label>
              </div>
            </div>
          </div>
          <div class="message-load-bottom" [hidden]="load_more_nan">
            <ion-spinner name="dots"></ion-spinner>
            <div>请稍候，努力加载中</div>
          </div>
          <div class="message-bottom" [hidden]="!load_more_nan || nan_param.pages > nan_param.pageNum">已经到底了，到别的频道逛逛吧!</div>
        </div>
      </div>
      <div class="swiper-slide">
          <div class="pd-col-content-all" id="scroll_3">
              <div class="book-line" *ngFor="let book of cb_order_data" (tap)="toBookInfo(book.book_id,book.book_type)">
                <div class="m-cover">
                  <img src="{{ service.ctxPath + book.book_cover_small}}" *ngIf="book.book_type == 2">
                  <img src="{{ book.book_cover_small}}" *ngIf="book.book_type == 1">
                </div>
                <div class="m-detail">
                  <h1>{{book.book_name}}</h1>
                  <div class="m-remark">{{book.book_remark}}</div>
                  <div class="m-other">
                    <label class="m-left">{{book.book_author}}</label>
                    <label class="m-right">{{book.book_cat_name}}</label>
                  </div>
                </div>
              </div>
              <div class="message-load-bottom" [hidden]="load_more_cb">
                <ion-spinner name="dots"></ion-spinner>
                <div>请稍候，努力加载中</div>
              </div>
              <div class="message-bottom" [hidden]="!load_more_cb || cb_param.pages > cb_param.pageNum">已经到底了，到别的频道逛逛吧!</div>
            </div>
      </div>
    </div>
  </div>
</ion-content>