page-cbhotbook {
    ion-content {
        .scroll-content {
            overflow: hidden;
        }
    }
    //自定义头
    .my-set-navbar{
        width: 100%;
        height: 44px;
        position: relative;
    }
    .header-md-light .my-set-navbar{
        height: 56px;
    }
    .plan-nav-1{
        float:left;
        width: 100%;
        padding: 4px;
        height: 44px;
        position: relative;
        text-align: center;
    }
    .plan-nav-2{
        position: absolute;
        width: 100%;
        padding: 4px;
        height: 44px;
        text-align: center;
        top: 0;
        left: 0;
        z-index: 9;
    }
    .my-set-navbar h1{
        line-height: 36px;
        display: inline-block;
        text-align: center;
        font-size: 1.7rem;
        font-weight: 600;
        pointer-events: auto;
        margin: 0;
    }
    .my-set-navbar .plan-nav-2 *{
        color: #000 !important;
    }  
    .header-md-light .plan-nav-1, 
    .header-md-light .plan-nav-2{
        padding: 10px 4px;
        height: 56px;
    }
    .add_book_action .m_cover{
        background: #fff;
        box-shadow: 0 0 1px #aaa;
    }
    .add_book_action .m_cover i{
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 35px;
        margin: -18px auto auto -18px;
        color: #dcdcdc;
    }
    .spinner-ios-ios-small circle, .spinner-md-ios-small circle{
        fill: #fff;
    }
    .toolbar-ios-light .button-ios, .toolbar-md-light .button-md{
        height:36px;
        margin: 0;
        color: #000;
        background: #fff;
        box-shadow: none;
    }
    .header-md-light .toolbar-md{
        height: 56px;
    }




    /*独立css*/
    .nav-li-par{
        position: absolute;
        top: 10px;
        left: 30px;
        right: 30px;
        height: 36px;
    }
    .toolbar-content-ios .nav-li-par{
        top: 4px;
    }
    .nav-li-pll{
        float: left;
        width: 100%;
        position: relative;
        height: 36px;
        overflow: hidden;
    }
    .header-nav-bar-lab{
        float: left;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .header-nav-bar-lab li{
        float: left;
        width: 33.33%;
        list-style: none;
        text-align: center;
        line-height: 36px;
        font-size: 17px;
        color: #999;
        transition: all 0.3s;
    }
    .dmdd{
        position: absolute;
        width: 33.33%;
        left: 0;
        bottom: 0;
        transition: all 0.3s;
    }
    .dmdd s{
        width: 30px;
        display: block;
        margin: 0 auto;
        background: #ee4552;
        height: 3px;
        border-radius: 3px;
    }
    .active_1 li:nth-child(1){
        color: #333;
    }
    .active_2 li:nth-child(2){
        color: #333;
    }
    .active_3 li:nth-child(3){
        color: #333;
    }
    .active_4 li:nth-child(4){
        color: #333;
    }

    .active_1 .dmdd{
        left: 0;
    }
    .active_2 .dmdd{
        left: 33.33%;
    }
    .active_3 .dmdd{
        left: 66.66%;
    }
    .slide-zoom{
        height: 100%;
    }
    .slid-ccm-par{
        float: left;
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }
    .pd-col-content-all{
        float: left;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 0 16px;
    }
    .pd-col-content{
        float: left;
        width: 100%
    }
    .message-load-bottom{
        float: left;
        width: calc(100% + 32px);
        width: -moz-calc(100% + 32px);
        width: -webkit-calc(100% + 32px);
        margin: -1px -16px 0 -16px;
        padding: 16px 0 16px;
        font-size: 14px;
        text-align: center;
        color: #999;
    }
    .message-bottom{
        float: left;
        width: calc(100% + 32px);
        width: -moz-calc(100% + 32px);
        width: -webkit-calc(100% + 32px);
        margin: -1px -16px 0 -16px;
        padding: 16px 0 16px;
        font-size: 14px;
        text-align: center;
        color: #999;
        background: #f5f8fa;
    }
    .class-model{
        border-color: #fff;
    }
    .class-model-l{
        padding: 16px 10px 10px 10px;
        float: left;
        width: 100%;
    }
    .class-model .class-li{
        float: left;
        width: 25%;
        font-size: 17px;
        line-height: 34px;
    }
    .class-cm-bg{
        float: left;
        width: 100%;
        position: relative;
    }
    .class-cm-bg img{
        float: left;
        width: 100%;
    }
    .class-cm-bg-fix{
        position: absolute;
        top: 50%;
        margin-top: -20px;
        left: 8vw;
        right: 8vw;
    }
    .class-cm-bg-fix .cc-fix-item{
        float: left;
        width: 25%;
        text-align: center;
        line-height: 50px;
        color: #00590a;
        font-weight: bold;
    }
    .fix-1{
        background: url(../assets/img/class-bg-2.png) no-repeat right center / auto 20px;
    }
    .fix-2{
        background: url(../assets/img/class-bg-1.png) no-repeat right center / auto 20px;
    }
    .fix-3{
        background: url(../assets/img/class-bg-3.png) no-repeat right center / auto 20px;
    }
    #mySwiper .swiper-slide{
        display:inline-block
    }
    .swiper-container{
        border-top: 10px #f5f8fa solid;
    }
    .book-line{
        float: left;
        width: 100%;
        padding: 16px 0;
        border-bottom: 1px #f4f4f4 solid;
    }
    .book-line .m-cover{
        float: left;
        height: 36vw;
        width: 27vw;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        background: url(../assets/img/coverNoBook.jpg) no-repeat 0 0 / 100% 100% #efefef;
    }
    .book-line .m-cover img{
        float: left;
        width: 100%;
        height: 100%;
    }
    .book-line .m-detail{
        float: left;
        padding-left: 10px;
        width: calc(100% - 27vw);
        width: -moz-calc(100% - 27vw);
        width: -webkit-calc(100% - 27vw);
    }
    .book-line .m-detail h1{
        float: left;
        width: 100%;
        margin: 0;
        font-size: 16px;
        text-align: left;
        line-height: 24px;
        margin-bottom: 5px;
    }
    .book-line .m-detail .m-remark{
        float: left;
        color: #787878;
        font-size: 14px;
        text-align: left;
        line-height:1.4em;
        max-height: 2.8em;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        word-wrap: break-word;
        overflow: hidden;
        -webkit-box-pack: center;
        margin-bottom: 5px;
    }
    .book-line .m-detail .m-other{
        float: left;
        width: 100%;
    }
    .book-line .m-detail .m-other .m-left{
        float: left;
        width: 60%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 14px;
        color: #999;
        text-align: left;
    }
    .book-line .m-detail .m-other .m-right{
        float: left;
        width: 40%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 14px;
        color: #999;
        text-align: right;
    }
    @media screen and (min-width: 370px){
        .book-line .m-detail .m-remark{
            line-height:1.4em;
            max-height: 4.2em;
            -webkit-line-clamp: 3;
        }
    }
    @media screen and (min-width: 400px){
        .book-line .m-detail .m-remark{
            line-height:1.4em;
            max-height: 5.6em;
            -webkit-line-clamp: 4;
        }
    }
    @media screen and (min-width: 500px){
        .nav-li-par{
            left: 100px;
            right: 100px;
        }
        .book-line .m-detail .m-remark{
            line-height:1.6em;
            max-height: 8em;
            -webkit-line-clamp: 5;
            margin: 10px 0 16px 0;
        }
        .book-line .m-cover{
            height: 24vw;
            width: 18vw;
        }
        .book-line .m-detail{
            width: calc(100% - 18vw);
            width: -moz-calc(100% - 18vw);
            width: -webkit-calc(100% - 18vw);
            padding-left: 16px;
        }
    }

    
}
